<a class="text-decoration-none text-dark" href="/family/member/{{this._id}}">
  <div class="col">
    <div class="card border-light-subtle shadow-sm">
      <div class="card-body">
        <div class="row g-0">
          <div class="col-9">
            <div class="card-title fw-bold mb-0 text-truncate">{{this.firstName}} {{this.lastName}}</div>
            <small class="text-primary text-opacity-50 text-truncate">{{age}} years</small>
          </div>
          <div class="col"></div>
          <div class="col-2">
            <img
              class="rounded-circle"
              {{#if this.imgPath}}
                src="{{this.imgPath}}"
              {{else}}
                src="https://ui-avatars.com/api/?name={{this.firstName}}+{{this.lastName}}&background=0d6efd&color=fff&format=svg"
              {{/if}}
              style="width: 2rem; height: 2rem;"
              alt="{{this.firstNane}} {{this.lastName}}"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col"><span class="badge bg-primary">8th generation</span></div>
        </div>
      </div>
    </div>
  </div>
</a>