{{#with member}}

  <div class="container">

    <a href="/family/details" class="btn btn-light mb-3"><i class="fas fa-chevron-left"></i> Back To Family Members</a>

    <div class="row">

      <div class="col-md-4">
        {{#if imgPath}}
          <img src="{{imgPath}}" alt="Profile Picture" class="img-fluid rounded-circle mb-3" />
        {{else}}
          <img src="https://via.placeholder.com/200" alt="Profile Picture" class="img-fluid rounded-circle mb-3" />
        {{/if}}
      </div>

      <div class="col-md-8">

        <h1>{{firstName}} {{lastName}}</h1>

        <h4><strong>Your relationship:</strong> {{relationship}}</h4>

        {{!-- more general solution, but not needed for nows
        {{#each this}}
          <p><strong>{{@key}}:</strong> {{this}}</p>
        {{/each}} 
        --}}

        {{! TODO: including only a few properties for now, but we can include all later }}

        <p><strong>Sex:</strong> {{sex}}</p>
        <p><strong>Date of Birth:</strong> {{dateOfBirth}}</p>
        <p><strong>Place of Birth:</strong> {{placeOfBirth}}</p>
        <p><strong>Date of Death:</strong> {{dateOfDeath}}</p>
        <p><strong>Place of Death:</strong> {{placeOfDeath}}</p>

      </div>

    </div>

  </div>

{{/with}}