{{!-- Header --}}
<div class="container-fluid bg-light">
  <div class="row">
    <div class="col"></div>
    <div class="col-md-10 col-sm-12">
      <div class="container p-3 p-sm-5">
        <div class="row">
          <div class="container rounded-3 p-3 bg-white shadow-sm">
            <div class="row row-cols-auto mb-3 g-0 align-items-center">

              <div class="col">
                <img class="img-fluid rounded-circle me-3" 
                  {{#if member.imgPath}}
                    src="{{member.imgPath}}"
                  {{else}}
                    src="https://ui-avatars.com/api/?name={{member.firstName}}+{{member.lastName}}&background=0d6efd&color=fff&format=svg"
                  {{/if}}
                  alt="profile picture"
                  style="width: 2.5rem; height 2.5rem">
              </div>

              <div class="col">
                <h3 class="h3 mb-0 me-3">{{member.firstName}} {{member.lastName}}</h3>
              </div>

              <div class="col">
                <a class="btn btn-outline-secondary btn-sm p-2 px-sm-2 py-sm-1" href="/family/member/{{member._id}}/edit">
                  <i class="bi bi-pencil-square m-0 me-sm-2"></i>
                  <span class="d-none d-sm-inline">Edit</span>
                </a>
              </div>

              <div class="col"></div>

              <div class="col align-items-center ms-auto">
                <a class="btn btn-primary btn-sm p-2 px-sm-2 py-sm-1" href="/family/{{member.family._id}}">
                  <i class="bi bi-people m-0 me-sm-2"></i>
                  <span class="d-none d-sm-inline">Back to family</span>
                </a>
              </div>
              
            </div>

            <div class="row row-cols-1 row-cols-md-auto g-4 m-0 p-3 rounded shadow-sm">
              {{#if readableDateOfBirth}}
              <div class="col ps-1 mt-0">
                <small class="text-secondary text-opacity-75">Date of birth</small>
                <p class="m-0">{{readableDateOfBirth}}</p>
              </div>
              {{/if}}

              {{#if member.placeOfBirth}}
              <div class="col mt-3 mt-sm-0">
                <small class="text-secondary text-opacity-75">Place of birth</small>
                <p class="m-0">{{member.placeOfBirth}}</p>
              </div>
              {{/if}}

              {{#if readableDateOfDeath}}
              <div class="col mt-3 mt-sm-0">
                <small class="text-secondary text-opacity-75">Date of death</small>
                <p class="m-0">{{readableDateOfDeath}}</p>
              </div>
              {{/if}}

              {{#if member.placeOfBirth}}
              <div class="col mt-3 mt-sm-0">
                <small class="text-secondary text-opacity-75">Place of death</small>
                <p class="m-0">{{member.placeOfDeath}}</p>
              </div>
              {{/if}}
            </div>
          </div>
        </div>

        <div class="row row-cols-1 row-cols-xl-2 mt-4">
          <div class="col col-xl-8 order-2 order-xl-1 px-0 pe-xl-2 mt-3 mt-xl-0">

            <div class="container rounded-3 p-3 bg-white shadow-sm">
              <div class="row">
                <div class="col">
                  <h4 class="h5 m-0">Relationships<a href="/family/member/create"><i class="bi bi-plus-circle ms-2"></i></a></h4>
                </div>
              </div>

              {{! Parents}}
              {{#if member.parent}}
              <div class="container p-0">
                <h6 class="mt-4">Parents</h6>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">

                  {{#each member.parent}}
                    {{> memberCard this}}
                  {{/each}}

                </div>
              </div>
              {{/if}}

              {{! Children}}
              {{#if member.child}}
              <div class="container p-0">
                <h6 class="mt-4">Children</h6>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">

                  {{#each member.child}}
                    {{> memberCard this}}
                  {{/each}}

                </div>
              </div>
              {{/if}}

              {{! Siblings }}
              {{#if member.sibling}}
              <div class="container p-0">
                <h6 class="mt-4">Siblings</h6>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">

                  {{#each member.sibling}}
                    {{> memberCard this}}
                  {{/each}}

                </div>
              </div>
              {{/if}}

            </div>

            <div class="container rounded-3 p-3 mt-2 bg-white shadow-sm">
              <div class="row">
                <div class="col">
                  <h4 class="h5 m-0">Life events<a href="#" disabled><i class="bi bi-plus-circle ms-2 text-secondary text-opacity-25"></i></a></h4>
                </div>
              </div>
              <div class="container p-0">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-4 g-3">

                  {{#each members}}
                    {{> memberCard this}}
                  {{/each}}

                </div>
              </div>
            </div>

          </div>
          <div class="col col-xl-4 order-1 order-xl-2 px-0 ps-xl-2">
            <div class="container rounded-3 p-3 shadow-sm h-100 display-inline-block" id="map" style="min-height: 15rem;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
